{% include "header.html" %}
<style>

.center{

margin: auto;
padding: 20px;
background: lightblue;

}

#div_edit{
width: 50%
}

</style>

<body>
<div id="div_edit" class="center">
	<h2 aria-flowto="center">Add New Item</h2>

	<form id="form" name="form" action="{{url_for('add_item')}}" method='POST'>
  <div class="form-group">
    <label for="title">Item Name:</label>
    <input type="text" class="form-control" placeholder="Title" id="title" name="title" required>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" id="description" placeholder="Description" name="description" required>
  </div>
  <div class="form-group">
    <label for="category">Category: </label>
    <!-- <input type="text" class="form-control" id="category" name="category" list="categories" placeholder="Category" required>
	   --><select type="text" class="form-control" id="categories" name="category" required>
			{% for category in Category %}
			 <option value="{{category.name}}">{{category.name}}</option>
			 {% endfor %}
			</select>
  </div>
  <input type="submit" value="Add" class="btn btn-primary">
</form>
</div>

</body>
