
{% include "header.html" %}
<style>

.center{

margin: auto;
padding: 20px;
background: lightblue;

}

#div_edit{
width: 50%
}

</style>

<body>
<div id="div_edit" class="center">
	<h2 aria-flowto="center">Delete {{Item.title}}</h2>

	<form id="form" name="form" action="{{url_for('delete_item',item_name=Item.title)}}" method='POST'>
  <div class="form-group">
    <label>Are you sure you want to delete ?</label>

  </div>

  <input type="submit" value="Delete" class="btn btn-primary">
</form>
</div>

</body>
