{% include "header.html" %}
<style>

.center{

margin: auto;
padding: 20px;
background: lightblue;

}

#div_edit{
width: 50%
}

</style>

<body>
<div id="div_edit" class="center">
	<h2 aria-flowto="center">Edit {{Item.title}}</h2>

	<form id="form" name="form" action="{{url_for('edit_item',item_name=Item.title)}}" method='POST'>
  <div class="form-group">
    <label for="title">Item Name:</label>
    <input type="text" class="form-control" value="{{Item.title}}" id="title" name="title" required>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" id="description" value="{{Item.description}}" name="description" required>
  </div>
  <div class="form-group">
    <label for="category">Category:</label>
    <!-- <input type="text" class="form-control" id="category" name="category" list="categories" required>
	   --><select type="text" class="form-control" id="categories" name="category" required>
      {% for category in Category %}
       <option default="{{category.name}}">{{category.name}}</option>
       {% endfor %}
      </select>
  </div>
  <input type="submit" value="Edit" class="btn btn-primary">
</form>
</div>

</body>
