{% include "header.html" %}

<style>
#body{
margin: 5%;

}

#wrapper {
margin-left: 30px;
border: 2px;
width:100%;
}
.center{

margin: auto;
padding: 10px;
color: steelblue;

}
#div1 {
    display: inline-block;
    width: 30%;
    vertical-align:top;
}
#div2 {
    display: inline-block;
    width: 50%;
    overflow: display;
    vertical-align:top;
}

</style>
<head>
  <title>Catalog App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:powdergrey;">

<div class = 'flash'>
          {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<div id="wrapper" class="center">

  <div id="div1" class="panel panel-default">
    <div class="panel-heading" ><b>Categories<b></div>
    <div ><ul class="list-group" >{% for category in Category %}
  <li class="list-group-item"><a href='{{url_for('item',category_name=category.name)}}'>{{ category.name }}</a></li>
  {% endfor %}
</ul></div>
  </div>

  <div id="div2" class="panel panel-default">
    {%if 'username' in session %}
      <div class="list-group-item"><a href='{{url_for('add_item')}}'>Add Item</a></div>
      {% endif %}
    <div class="panel-heading"><b>Latest Items<b></div>
    <div ><ul class="list-group"> {% for item in Item %}
      {% if type is not none %}
      <li class="list-group-item" ><a href='{{url_for('item_description',category_name=SelectedCategory, item_name=item.title)}}'> {{ item.title }} </a></li>
      {% else %}
      <li class="list-group-item" ><a href='{{url_for('item_description',category_name=item.category, item_name=item.name)}}'> {{ item.name +" ("+item.category+")"}} </a></li>
      {% endif %}
      {% endfor %}
</ul></div>
  </div>
</div>

</body>
